*
{
    padding: 0px;
    margin: 0px;
}

body{
    display: grid;
    place-items: center;
}

.rectangulo {
    background:#049DB1;
    width: 1300px; 
    height: 150px;
    
}

.titulo{
    font-size: 64px;
    color: aliceblue;
    width: 70vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


/*   LOGIN   */

.posicionDivInicio{
    width: 65vw;
    height: 20vh;
    padding: 0 1rem;
    margin:  rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 14px 0px 14px;
    margin-top: 10px;
    
    
}


.posicionDiv{
    padding: 0 1rem;
    margin:  rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 14px 0px 14px;
    margin-top: 10px;
    
    
}

.boton{
    background-color: #778AF0;
    width: 246px;
    height: 56px;
    color: #333;
    font-family: Sen;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    margin: 0px 14px 0px 14px;
    margin-top: 40px;
}

.botonMenu{
    background-color: #778AF0;
    width: 400px;
    height: 56px;
    color: #333;
    font-family: Sen;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    margin: 0px 14px 0px 14px;
    margin-top: 40px;
}


.texto{
    color: #333;
    font-family: Sen;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    margin-right: 1vh;
}

.mensaje{
    color: red;
    font-family: Sen;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
}


.BotonesInicio
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 6px 6px 6px;
}
